Remove rfc7638 requirement from `keyid` and make it match `kid`

Both [HTTP Message Signatures for automated traffic Architecture](https://thibmeu.github.io/http-message-signatures-directory/draft-meunier-web-bot-auth-architecture.html) and [HTTP Message Signatures Directory](https://thibmeu.github.io/http-message-signatures-directory/draft-meunier-http-message-signatures-directory.html) says

> `keyid` MUST be a base64url JWK SHA-256 Thumbprint as defined in [Section 3.2](https://rfc-editor.org/rfc/rfc7638#section-3.2) of [[JWK-THUMBPRINT](https://thibmeu.github.io/http-message-signatures-directory/draft-meunier-web-bot-auth-architecture.html#JWK-THUMBPRINT)] for RSA and EC, and in [Appendix A.3](https://rfc-editor.org/rfc/rfc8037#appendix-A.3) of [[JWK-OKP](https://thibmeu.github.io/http-message-signatures-directory/draft-meunier-web-bot-auth-architecture.html#JWK-OKP)] for ed25519

I would change "MUST" here to "MAY". Key management systems often have IDs for their keys already so they could just print them here from a DB, instead of constructing and serializing a temporary JWK into a json and hashing that per rfc7638, then adding it back to the structure and serializing again. The Tink library also seems to have a notion of a [Key ID](https://developers.google.com/tink/wire-format#tink_output_prefix), and I also like that it's 4 bytes, instead of 32 like the SHA256. People might also use dates or other examples used in the rfc7638 or rfc9421, I think that's fine as long as it helps finding the key in the dictionary.

The specs could also say that `keyid` and `kid` should match between an entry of the JWKS and the`Signature-Input`, to speed up verification, otherwise verifiers might drop the request.

Signature-Agent is optional (despite RECOMMENDED). You are right that, as defined by [RFC 9421 Section 2.3](https://datatracker.ietf.org/doc/html/rfc9421#signature-params), keyid is `The identifier for the key material as a String value`. It does not say it should be kid. In fact, kid is optional per [RFC 7515](https://www.rfc-editor.org/rfc/rfc7517.html#section-4.5).
An identifier may even just be the order of the key: key 0, key 1, etc.

Setting it to the thumbprint guarantees global uniqueness, and discovery in the presence or absence of a Signature-Agent.

On your mention of
> I'm not going to add it to that keystore system
is the blocker internal process?

Would a wording you'd be after be
> When a Signature-Agent is provided, `kid` MUST be set for every key and `keyid` SHOULD equal to a kid in the directory