Security consideration regarding semantically equivalent field values

HTTP Message Signatures relies on strwuctured field to canonicalise an HTTP request.
Structured fields allow for two different inputs to be canonicalised to the same string.

There are considerations around this in HTTP Message Signatures [RFC 9421, Section 7.5.2](https://www.rfc-editor.org/rfc/rfc9421#section-7.5.2).

At minimum, the architecture draft has to restate these.

There is an open question if the architecture should place additional rules which are not part of HTTP Message Signatures.