Signature-Agent is a string structured field

This is how the directory draft defines it.

As pointed out by @AkshatM, the architecture draft provides incorrect examples, and does not escape the string as required by [Section 3.3.3 of RFC8941](https://www.rfc-editor.org/rfc/rfc8941#name-strings).

We should correct it.

This includes regenerating test vectors
