Add wording that `Signature` header  MUST be sent over a secure connection

Because the `Signature` header is effectively a bearer token, and can be proxied, and in some cases replayed, there needs to be a `MUST` requiring that the `Signature` header is always sent (and proxied) over secure (esp. confidential) channels.

A possible text from [RFC 6750 Section 5.3](https://www.rfc-editor.org/rfc/rfc6750#section-5.3)

> Always use TLS (https):  Clients MUST always use TLS [[RFC5246](https://www.rfc-editor.org/rfc/rfc5246)]
> (https) or equivalent transport security when making requests with
> bearer tokens.  Failing to do so exposes the token to numerous
> attacks that could give attackers unintended access.

That language doesn't provide total coverage of course, because a proxy that doesn't understand this protocol will still blindly forward it, so a chain of two non-supporting proxies could expose the token if they don't use TLS, but I think it's the best we can do without explicitly binding to the TLS connection.