Consideration around signing Signature-Agent header

Vercel [shared](https://mailarchive.ietf.org/arch/msg/web-bot-auth/-ON1BdJMNWZmTgZGshBOHxnTSiQ/) they have been working on a similar proposal on their side.

One difference is they include the bot origin as part of the signature. In the current draft, this would be signing `Signature-Agent` header.

With [RFC 9421 Section 2.1](https://datatracker.ietf.org/doc/html/rfc9421#name-http-fields), this can be done by adding `"signature-agent"` to the component part of `Signature-Input`.

I strongly want (-> MUST) `Signature-Agent` to be included in the `Signature-Input` to be considered valid by origins.

Also, +1 on having this be a signature **component** rather than a brand new header.

I'll see how to word the fact that "if there is a Signature-Agent" header, it MUST be signed. If there is no such header, it's not signed.

Also forgot to mention this comes from @cramforce, in case they want to weight in.